body{
    text-align: center;
    width: 350px;
}

img{
    width: 35px;
    padding: 5px;
}

.fa{
    padding: 15px;
    width: 20px;
    color: black;
}

a{
    text-decoration: none;
}

.fa-youtube:hover{
color: red;

}

.fa-facebook:hover{
    color:blue
}

.fa-instagram:hover{
    color: pink;
}

.fa-github:hover{
    color: orange;
}

.fa-twitter:hover{
    color: lightblue;
}